body #main {
    background-color: transparent;
}
#my-content * {
    margin: 0;
    padding: 0;
}
#my-content input, #my-content textarea{
   padding:5px;
}
 #my-content header {
    display: flex;
    margin-bottom: 1.5em;
    align-items: center;
}
 #my-content header form {
    margin-left: auto;
}
 #my-content header form input {
    width: auto;
}
 #my-content header form button {
    padding: 0.5em;
}
 #my-content .onglets a {
    display: inline-block;
    width: 8em;
    color: inherit;
    cursor: pointer;
}
 #my-content .onglets .active {
    border-bottom: 0.2em solid green;
}
 #my-content table {
    border: none;
    background-color: #3f51b50f;
    font-size: 0.9em;
}
 #my-content td {
    padding-bottom: 0.3em;
    padding-left: 0.3em;
}
 #my-content td .creator {
    font-weight: bold;
}
 #my-content td .numero {
    font-size: 0.8em;
}
 
 #my-content td .step-status {
    font-size: 0.8em;
    background-color: #FF9800;
    padding: 0.3em;
    color: white;
    font-weight: bold;
}
 #my-content .second-table td, #my-content .second-table th {
    padding: 0.5em;
    font-size: 1em;
}
 #my-content .entry-detail {
    margin-top: 1em;
    position:relative;
}
 #my-content .informationModal{
    position:fixed;
    left:0;
    width:100%;
    height:100%;
    top:0;
    background-color:#0000006b;
    z-index:15;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
 #my-content .informationModal > div{
    background-color:white;
    min-width:20em;
    padding:1em;
    text-align:center;
}
 #my-content .informationModal button{
    padding:0.5em;
    margin-top:2em;
}
 #my-content .entry-detail header {
    align-items: center;
    gap: 2em;
    padding-left: 1em;
}
 .entry-detail section > div {
    display: grid;
    grid-template-columns: repeat(5,minmax(10em,30em));
    flex-wrap: wrap;
    align-items: flex-start;
    gap:2em;
}
.card {
    padding: 0.3em;
    background-color: white;
    display:flex;
    flex-direction: column;
    box-shadow: none;
}

.card textarea{
   width: 100%;
}

.span_textarea{
   grid-column: span 3;
}
.span_table{
   grid-column: span 5;
}
#my-content .card table{
   text-align: center;
}
.hidden{
   display: none;
}
#my-content .entry-detail section {
    padding-bottom: 1em;
}
 #my-content .entry-detail section > div {
    padding-left: 1em;
    padding_bottom: 1em;
}
textarea{
   width:35em;
   height:10em;
}
 #my-content .count{
    font-size:0.7em;
    background-color:#263c86;
    padding:0 0.5em;
    color:white;
    position:absolute;
    right:0;
    font-weight:bold;
}
 #my-content .entry-detail section .title {
    background-color: #091a5a;
    color: white;
    padding: 0.5em;
    margin-bottom: 0.5em;
}
 #my-content .btn-success, #my-content .btn-failure, #my-content .btn-info {
    padding: 0.5em;
    color: white;
}
 #my-content .btn-success {
    background-color: green;
}
 #my-content .btn-failure {
    background-color: red;
}
 #my-content .btn-info{
    background-color: #091a5a;
}
#my-content select[multiple]{
   height:10em;
}
 #pdfviewer{
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:20;
    position:fixed;
    background-color:#000000d4;
    text-align:center;
}
#pdfviewer iframe{
    margin-left:1%;
    margin-top:1%;
    width:98%;
    height:98%;
}
#pdfviewer button{
    right:0;
    top:0;
    position:absolute;
    margin-top:1em;
    padding:0.5em;
}
#formCreator{
   background-color: rgba(0, 0, 0,.3);
   position: fixed;
   top:0;
   left:0;
   z-index: 10;
   width: 100%;
   height: 100%;
   justify-content: center;
   align-items: center;
   overflow: scroll;
}
#formCreator .content{
   padding:1em;
}
#formCreator header, #formCreator footer{
   padding:1em;
}
#formCreator header h1{
   color:white;
}
#formCreator .card{
   display: flex;
}

#formCreator button{
   padding:1em;
}
#formCreator footer{
   display: flex;
   justify-content: center;
   gap: 1em;
}

 #uploader{
    position:fixed;
    background-color:#000000d4;
    z-index:20;
    width:100%;
    height:100%;
    left: 0;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
}
 #my-content #tools{
    display:flex;
    align-items:center;
}
 #tools .navigationHelper{
    margin-left:auto;
    font-size:0.8em;
}
 #uploader div *{
    color:white;
}
 .card label, .card h1, .card h2, .card h3, .card h4, .card h5 {
    font-weight: bold;
}

.select{
   position: relative;
}

#my-content .select-viewer{
   border:1px solid black;
   border-radius: 5px 5px 5px 5px;
   padding:0.5em;
   display:flex;
   gap: 0.5em;
   display:flex;
   flex-wrap: wrap;
}
#my-content .select-viewer span{
   padding:0em 0.3em;
   background-color: #3f51b50f;
}

.select-dropdown{
   position: absolute;
   height:20em;
   overflow: scroll;
   background-color:white;
}
#my-content .select-dropdown a{
   padding:0.3em;
   display:block;
}

#my-content .select-dropdown:hover{
   display:block;
}