#content{
    background-color:rgb(0 0 0 / 4%);
    margin-left:3em;
}
img:is([sizes="auto" i], [sizes^="auto," i]) {
    contain-intrinsic-size: 3000px 1500px
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}

header *:first-child{
    margin-right: auto;
}

#my-content button {
    padding: 0.5em;
}

#excel-container{
    margin-left:5em;
}

#main thead, #main button{
    background-color:#091a5a;
    color:white;
}
#main table.gpnf-nested-entries thead{
    background-color: white;
    color:black;
}
#
#main table{
    border-bottom:1px solid silver;
    table-layout: fixed;
}
#my-content{
    padding:1em;
    background-color:white;
    margin-top:1em;
}
#main td, #main th{
    border:none;
}
#main table.gpnf-nested-entries th, #main table.gpnf-nested-entries td{
    border:1px solid black;
}
#main table.gpnf-nested-entries th{
    border-bottom: none;
}
#main td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#main tr{
    cursor: pointer;
}
thead tr:first-child{
    border-radius: 1em 0em 0em 1em;
}
thead tr:last-child{
    border-radius: 0em 1em 1em 0em;
}
#main tr + tr td{
    border-top:1px solid silver;
}
#main tr:hover{
    transform: translate(0px,2px);
    box-shadow:0px 1px 5px #00000042;
}
#main table.gpnf-nested-entries tr:hover{
    transform: none;
    box-shadow: none;
}
.navigation button{
    width:1em;
    padding:0.5em;
    padding-right:1em;
    text-align:center;
}
#loader{
    top:0;
    left:0;
    position:fixed;
    width:100%;
    height:100%;
    background-color:#00000082;
    z-index:15;
    align-items:center;
    justify-content:center;
}
#loader h1{
    color:white;
}
.status_filter a{
    color:black;
    padding:1em;
}
.error-field{
    color: red;
}
.status_filter a:hover{
    border-bottom:0.3em solid black;
}
.status_filter .active{
    border-bottom:0.3em solid green;
}
#content .loader h1{
    color:white;
}